.cart-container {
    background: rgba(255, 153, 0, 0.3);
    font-family: 'lato';
}

.order-sum {
    padding: 23px;
    position: sticky;
    top: 0;
}

.order-sum h1 {
    font-size: 25px;
    color: #1C2B35;
    font-weight: normal;
    text-align: center;
    margin-top: 8px;
}

.order-info {
    margin-top: 50px;
}

.order-info p {
    color: #2A414F;
}

.order-info h4 {
    color: #0E161A;
    font-weight: normal;
    font-size: 22px;
}

.dollar-icon {
    margin-left: 10px;
}